* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

.btn {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: var(--tw-green-500);
  color: var(--tw-slate-100);
  font-weight: bold;
}

.hero {
  padding: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--tw-slate-100);
  background: linear-gradient(
    to right,
    var(--tw-indigo-900),
    var(--tw-indigo-800),
    var(--tw-indigo-900)
  );
}

.hero__title {
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.hero__intro {
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

.waitlist-form {
  display: flex;
  flex-direction: column;
  min-width: 22rem;
}

.waitlist-form__group {
  padding-top: 1rem;
}

.waitlist-form__label {
}

.waitlist-form__input {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
}

.waitlist-form__message {
  height: 2.25rem;
  padding-top: 1rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 1rem;
}

.waitlist-form__message-error {
  color: var(--tw-red-500);
}

.waitlist-form__btn {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 4.5rem;
  }

  .hero__intro {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 65ch;
  }

  .waitlist-form {
    min-width: 32rem;
  }

  .waitlist-form__group {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  .waitlist-form__label {
    min-width: 24rem;
  }

  .waitlist-form__input {
    margin-bottom: 0;
    width: 95%;
  }
}
