* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 1rem;
}

body {
  position: relative;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tw-slate-100);
  background: linear-gradient(
    to right,
    var(--tw-indigo-900),
    var(--tw-indigo-800),
    var(--tw-indigo-900)
  );
}

main > div {
  padding: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

p {
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 22rem;
}

form > p {
  padding-top: 1rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 1rem;
  color: var(--tw-red-500);
}

form > div {
  padding-top: 1rem;
}

form > div > button {
  width: 100%;
}

input {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
}

button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: var(--tw-green-500);
  color: var(--tw-slate-100);
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 65ch;
  }

  form {
    min-width: 32rem;
  }

  form > div {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  label {
    min-width: 24rem;
  }

  input {
    margin-bottom: 0;
    width: 95%;
  }
}

