{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Napp | Nano App | Go, HTMX & SQLite</title>
  <meta name="description"
    content="A command line tool that helps you build and test web app ideas blazingly-fast with a streamlined Go, HTMX, and SQLite stack. Authored by Damien Sedgwick.">
  <link href="static/styles.css" rel="stylesheet">
  <script src="static/htmx.min.js"></script>
</head>

<body>
  <div>
    <h1>Hello, Napp!</h1>
    {{ if .Message }}
    <p>{{ .Message }}</p>
    {{ end }}
  </div>
</body>

</html>
{{ end }}